<% content_for :title, "Editing domain" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl text-slate-900 dark:text-slate-100">Editing domain</h1>

  <%= render "form", domain: @domain %>

  <%= link_to "Show this domain", [:superadmin, @domain], class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 text-slate-800 hover:bg-gray-50 dark:bg-slate-800 dark:text-slate-100 dark:hover:bg-slate-700 inline-block font-medium" %>
  <%= link_to "Back to domains", superadmin_domains_path, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 text-slate-800 hover:bg-gray-50 dark:bg-slate-800 dark:text-slate-100 dark:hover:bg-slate-700 inline-block font-medium" %>
</div>
